.login{
    display : grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
}

.login>button{
    width: 300px;
    background-color: #637edf;
    color:#eff2f5;
    font-weight: 800;
}
.login>button:hover{
   background-color: black;
   color: #637edf;
}
.login > div{
    object-fit: contain;
    height: 150px;
}